<div layout-margin>
<h2>
	{{player.name}}
</h2>

<table class="table table-striped table-bordered">
	<thead>
	<tr>
		<th><a href ng-click="clear()"><i class="fa fa-trash"> Clear</i></a></th>
		<th>Current total</th>
		<th>Reward size</th>
		<th>Message</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Alloy</td>
		<td>
			{{player.alloy}} 
			<span ng-if="reward.alloy > 0"> + <span class="highlight">{{reward.alloy}}</span></span>
		</td>
		<td>
			<md-slider md-discrete ng-model="reward.alloy" min="0" step="200" max="5000" aria-label="rewardalloy">
			</md-slider>
		</td>
		<td rowspan="2">
			<md-input-container flex>
	        	<textarea ng-model="reward.message" columns="1" md-maxlength="150" aria-label="message" ></textarea>
  			</md-input-container>
		</td>
	</tr>
	<tr>
		<td>Stardust</td>
		<td>
			{{player.stardust}}
			<span ng-if="reward.stardust > 0"> + <span class="highlight">{{reward.stardust}}</span></span>	
		</td>
		<td>
			<md-slider md-discrete ng-model="reward.stardust" min="0" step="200" max="5000" aria-label="rewardstardust">
			</md-slider>
		</td>
	</tr>
	<tr>
		<td colspan="4"><div class="btn btn-primary " ng-disabled="!isValid()" ng-click="submit()">Send reward</div></td>
	</tr>
	</tbody>
</table>
</div>
<hr/>