<md-card>
	<md-toolbar class="md-accent">
		<div class="md-toolbar-tools">
			<h3>Reward</h3>
		</div>
	</md-toolbar>
	<md-content layout-padding>
		<div layout="row">
			<div layout="column" flex>
				<div flex>
					<md-content layout-padding>
						<div layout="column">
							<div layout="row" layout-align="center center">
								<h2 class="md-headline">Alloy: {{alloy}}</h2>
							</div>
							<div>
								<md-slider flex min="0" step="100" max="5000" md-discrete ng-model="alloy" aria-label="alloy" class="md-accent md-hue-3">
							</div>
						</div>
					</md-content>
				</div>
				<div flex>
					<md-content layout-padding>
						<div layout="column">
							<div layout="row" layout-align="center center">
								<h2>Stardust:{{stardust}}</h2>
							</div>
							<div>
								<md-slider flex min="0" step="100" max="5000" md-discrete ng-model="stardust" aria-label="stardust" class="md-accent md-hue-3">
							</div>
						</div>
					</md-content>
				</div>
			</div>
			<div layout="column" flex>
				<div flex>
					<md-input-container>
						<label>Message</label>
						<textarea ng-model="msg" md-maxlength="250"></textarea>
					</md-input-container>
				</div>
				<div flex>
					<div ng-if="!waitingForConfirmation" layout="column">
						<md-button class="md-primary" ng-click="submit()" md-no-ink>
							<h2 class="md-display-2">
								<i class="fa fa-check">Submit</i>
							</h2>
						</md-button>
					</div>
					<div ng-if="waitingForConfirmation" layout="column">
						<div layout="column" layout-align="center center">
							<h4>Player: {{::player.name}}</h4>
							<p>
								<div class="badge">Alloy: {{confirmedValues.alloy}}</div>
							</p>
							<div class="badge">Stardust: {{confirmedValues.stardust}}</div>
							<h4>Message</h4>
							<p>{{confirmedValues.msg}}</p>
						</div>
						<div layout="row" layout-align="center center">
							<md-button class="md-raised md-primary" ng-click="confirm()">Confirm</md-button>
							<md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</md-content>
</md-card>