<md-toolbar id="header">
  <div class="md-toolbar-tools">
    <div flex>
      <img src="static/images/vulpine_header_web.png"></img>
    </div>
    <div class="md-toolbar-item docs-tools" layout="column" layout-margin>
      <span ng-bind="userInfo.userName"></span>
    </div>
    <div class="md-toolbar-item docs-tools" layout="column" layout-margin>
      <a class="md-default-theme" href ng-click="header.logout()" ng-if="userInfo.isAuthenticated">
        <i class="fa fa-sign-out fa-fw"></i>Logout 
      </a>
      <a class="md-default-theme" href ng-click="header.login()" ng-if="!userInfo.isAuthenticated">
        <i class="fa fa-login"></i>Login 
      </a>
    </div>
  </div>
</md-toolbar>