<md-sidenav class="md-sidenav-left md-whiteframe-z2" flex="15" md-component-id="left" md-is-locked-open="userInfo.isAuthenticated && $mdMedia('gt-md')">
  <md-content>
    <div layout="column">
      <!--Home link link
      <md-button ng-click="nav.goto('/home')" ng-class="{ active : nav.route.current.name === 'home'}">
        <div layout="row" layout-padding>
          <i class="fa fa-home"> Home</i>
          <span flex></span>
       	</div>
      </md-button>
      -->
        
      <!--Players link-->
      <md-button ng-click="nav.goto('/players')" ng-class="{ active : nav.route.current.name === 'players'}">
         <div layout="row" layout-padding>
          <i class="fa fa-group"></i>
          <span flex></span>
       	</div>
      </md-button>
    
    </div>
  </md-content>
</md-sidenav>