<form name='event-form' ng-submit='event-form.$valid && form.save()' novalidate>
  <div class="col-md-12">
    <!--Title-->
    <div class="form-group required">
      <label class="control-label" for="title">Otsikko
        <span class="required-indicator">*</span>
      </label>
      <div ng-messages="event-form.title.$error" class="form-notification">
        <div ng-message="required">Kirjoita otsikko</div>
        <div ng-message="maxlength">Otsikko on liian pitkä</div>
      </div>
      <input type="text" name="title" required ng-maxlength="255" class="form-control" ng-model="form.event.title" />
    </div>
  </div>

  <!--Description-->
  <div class="col-md-12">
    <label class="control-label" for="title">Kuvaus
    </label>
    <input type="text" name="title" required ng-maxlength="255" class="form-control" ng-model="form.event.description" />
  </div>

  <!--Location-->
  <div class="col-md-12">
    <label class="control-label" for="location">Sijainti
    </label>
    <google-places location="home"></google-places>
    Selected location: {{home.location}}

    <button type="submit" ng-disabled="itemForm.$invalid" class="btn btn-success"><i class="fa fa-save"> Tallenna</i>
    </button>
    <div class="btn btn-danger" ng-click="form.back()"><i class="fa fa-times"> Peruuta</i>
    </div>
  </div>
</form>
