<!--Player table-->
<table class="table table-condensed table-striped table-bordered">
  <thead>
    <tr>
      <th class="id-field">Id</th>
      <th class="nick-field">Nick</th>
      <th class="country-field">
        <a href ng-click="list.orderField='login.country' ; list.filters.reverse=! list.filters.reverse">Country</a>
      </th>
      <th class="alliance-field">Alliance</th>
      <th class="currency-field">
        <a href ng-click="list.orderField='gameCurrencyPurchased' ; list.filters.reverse=! list.filters.reverse">Spent</a>
      </th>
      <th class="flags-field">Flags</th>
      <th class="banned-field">
        <md-checkbox ng-model="list.filters.player.login.isBanned" "aria-label="show banned? " class="md-accent md-hue-3 ">Banned</md-checkbox>
        </th>
        <th class="suspended-field ">
          <md-checkbox ng-model="list.filters.player.login.suspendedUntil " ng-true-value=" '!null' " ng-false-value="
        '' " aria-label="Finished? "
          class="md-accent md-hue-3 ">Suspended until</md-checkbox>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entry in list.players | filter:list.filters.player | limitTo:500 | orderBy:list.orderField:list.filters.reverse ">
        <td>
          <a href ng-click="list.showPlayer(entry.player.id) ">
            {{::entry.player.id}}
          </a>
        </td>
        <td>{{::entry.player.name}}</td>
        <td>{{::entry.login.country}}</td>
        <td>
          <a href ng-click="list.showAlliance(entry.alliance.id) ">
            {{::entry.alliance.name}}
          </a>
        </td>
        <td>{{::entry.gameCurrencyPurchased || valueFilter}}</td>
        <td>{{::entry.unresolvedFlags | valueFilter}}</td>
        <td>{{::entry.login.isBanned | valueFilter}}</td>
        <td>{{::entry.login.suspendedUntil | date}}</td>
      </tr>
    </tbody>
  </table>

