
<div class="col-xs-12 col-sm-6">
	<div class="panel panel-default" ng-if="profile.user">
		<div class="panel-heading" ng-click="showProfile = !showProfile">
			<h3 class="panel-title">Profile</h3>
		</div>
		<div class="panel-body" ng-hide="showProfile">
			<div>
				<label>Username:</label> 
				<span ng-hide="edit">{{profile.user.name}}</span>
				<span ng-show="edit"><input type="text" ng-model="profile.user.name" ng-change="profile.updateInfo(profile.user)" ng-model-options="{debounce: 500}"/></span>
			</div>
			<div>
				<label>Firstname:</label>
				<span ng-hide="edit">{{profile.user.firstName}} </span>
				<span ng-show="edit"><input type="text" ng-model="profile.user.firstName" ng-change="profile.updateInfo(profile.user)" ng-model-options="{debounce: 500}"/></span>
			</div>
			<div>
				<label>Lastname:</label>
				<span ng-hide="edit">{{profile.user.lastName}}</span>
				<span ng-show="edit"><input type="text" ng-model="profile.user.lastName" ng-change="profile.updateInfo(profile.user)" ng-model-options="{debounce: 500}"/></span>
			</div>
			<div>
				<button class="btn btn-primary" ng-click="edit = !edit;">{{!edit? 'Edit' : 'Stop'}}</button>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-6">
	<div class="panel panel-default" ng-if="profile.user">
		<div class="panel-heading" ng-click="showFriends = !showFriends">
			<h3 class="panel-title">Friends</h3>
		</div>
		<div class="panel-body" ng-hide="showFriends">
			.....
		</div>
	</div>
</div>